.linkToInfo{
    text-decoration: none;
    position: relative;
    width: fit-content;
}

.linkToInfo::after{
    content: "";
    position: absolute;
    background-color: #ea580c;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -0px;
    transform: scale(0, 1);
    transform-origin: 0% 100%;
    transition: 0.125s ease-in-out;
    border-radius: 100vh;
}

.linkToInfo:hover::after{
    transform: scale(1, 1);
}